:root {
    --border-color: rgba(255, 255, 255, 0.5);
    --list-icon-size: scale(0.7);
}

.application_header {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    margin: 5px;
}

.application_body {
    text-align: left;
    margin: 10px;
}

.application_icon {
    background-size: contain;
    border-width: 0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    margin: 7px 24px 0 0;
    width: 72px;
    border-radius: 20%;
    display: inline-block;
    vertical-align: middle;
}

/*list icon*/
.application_list_icon {
    width: 25px;
    height: 25px;
    padding-right: 5px;
    vertical-align: middle;
}

.application_list_text {
    text-align: left;
    vertical-align: middle;
    transform: var(--list-icon-size);
}

/*details*/
details {
    width: 80%;
    margin: 0 auto ;
    background: #282828;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 5px;
    overflow: hidden;
}

summary {
    padding: 1rem;
    display: block;
    background: #333;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}


details summary::-webkit-details-marker {
    display:none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}