:root {
    --img-size: 32px;
}

/* header */
.logo > a > *, .logo > div > * {
    vertical-align: middle;
}

.logo > a > img, .logo > div > img, .fas {
    width: var(--img-size);
    height: var(--img-size);
}

.logo > a > span, .logo > a > span {
    vertical-align: inherit;
}

/* logo end */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* menu */
.navbar .svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.menu_header > li:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 625px) {
    .menu_header {
        display: flex;
        list-style: none;
    }

    .menu_header > li {
        padding: 8px 12px;
    }

    .fas, .menu_hr {
        display: none;
    }
}

@media screen and (max-width: 625px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .fas {
        display: block;
        align-items: baseline;
        position: absolute;
        right: 32px;
    }

    .menu_header {
        padding-left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .menu_header > li {
        width: 90%;
        margin: 10px;
    }

    /* 확대 제거 */
    li.menu_hr:hover {
        transform: scale(1);
    }

    .menu_hr > hr {
        background: rgba(255, 255, 255, 0.2);
        height:1px;
        border:0;
    }

    .fas.active, .menu_header.active {
        display: flex;
    }
}